body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
a:hover,
a:focus {
  color: #404bbf;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

ul {
  list-style-type: none;
}

/* -------------------------header start------------------------- */

.navigation-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.logo-top {
  color: #2e2f42;
}
.navigation-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
}

.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.address-list-item-contacts {
  color: #434455;
}

/* --------------------------header end-------------------------- */

/* -----------------------herobaner start----------------------- */

.herobaner {
  background: #2e2f42;
}
.herobaner-title {
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
}
.herobaner-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* ------------------------herobaner end------------------------ */

/* ------------------------benefits start------------------------ */

.benefits-list-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------------benefits end------------------------- */

/* --------------------------team start-------------------------- */

.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-item {
  background-color: #ffffff;
}
.team-list-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.team-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 16px;
  color: #434455;
}

/* ---------------------------team end--------------------------- */

/* -----------------------portfolio start----------------------- */

.portfolio-title {
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
}
.portfolio-list-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
}
.portfolio-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}

/* ------------------------portfolio end------------------------ */

/* -------------------------footer start------------------------- */

.bottom {
  background: #2e2f42;
}
.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.studio {
  color: #f4f4fd;
}

/* --------------------------footer end-------------------------- */
